In [1]:
import pandas as pd
import numpy as np

In [19]:
tuples = list(
    zip(
            ["bar", "bar", "baz", "baz", "foo", "foo", "qux", "qux"],
            ["one", "two", "one", "two", "one", "two", "one", "two"],
    )
)
tuples

[('bar', 'one'),
 ('bar', 'two'),
 ('baz', 'one'),
 ('baz', 'two'),
 ('foo', 'one'),
 ('foo', 'two'),
 ('qux', 'one'),
 ('qux', 'two')]

In [38]:
prng = pd.period_range("1990Q1", "2000Q4", freq="Q-NOV")

ts = pd.Series(np.random.randn(len(prng)), prng)
ts.index=(prng.asfreq("M", "e") +1).asfreq("H", "e")
ts.index

PeriodIndex(['1990-03-31 23:00', '1990-06-30 23:00', '1990-09-30 23:00',
             '1990-12-31 23:00', '1991-03-31 23:00', '1991-06-30 23:00',
             '1991-09-30 23:00', '1991-12-31 23:00', '1992-03-31 23:00',
             '1992-06-30 23:00', '1992-09-30 23:00', '1992-12-31 23:00',
             '1993-03-31 23:00', '1993-06-30 23:00', '1993-09-30 23:00',
             '1993-12-31 23:00', '1994-03-31 23:00', '1994-06-30 23:00',
             '1994-09-30 23:00', '1994-12-31 23:00', '1995-03-31 23:00',
             '1995-06-30 23:00', '1995-09-30 23:00', '1995-12-31 23:00',
             '1996-03-31 23:00', '1996-06-30 23:00', '1996-09-30 23:00',
             '1996-12-31 23:00', '1997-03-31 23:00', '1997-06-30 23:00',
             '1997-09-30 23:00', '1997-12-31 23:00', '1998-03-31 23:00',
             '1998-06-30 23:00', '1998-09-30 23:00', '1998-12-31 23:00',
             '1999-03-31 23:00', '1999-06-30 23:00', '1999-09-30 23:00',
             '1999-12-31 23:00', '2000-03-31 23:00', '2000-06-30 23:00',
             '2000-09-30 23:00', '2000-12-31 23:00'],
            dtype='period[H]')